{% extends "base.html" %}
{% block menu %}
    {% block navbar %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block maison %} 
<div class="container">
    <h1 class="text-white my-2 mx-4">Documentation</h1>
    <div class="row m-3">
        <div class="card m-2 " style="width: 18rem;">
            <i class="fa fa-home text-center my-2" style="font-size:80px;"></i>
            <div class="card-body">
                <h5 class="card-title">Maison</h5>
                <p class="card-text">Tout ce qui concerne la maison (alarme, stores, chauffage, eau, gaz,électricité...)</p>
                <a href="#" class="btn btn-success">Entrer</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <i class="fa fa-shower text-center my-2" style="font-size:80px;"></i>
            <div class="card-body">
                <h5 class="card-title">Piscine</h5>
                <p class="card-text">Tout ce qui concerne la piscine (pompe, filtration, rideau, tuyauterie, traitement eau...)</p>
                <a href="#" class="btn btn-success">Entrer</a>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <i class="fa fa-bolt text-center my-2" style="font-size:80px;"></i>
            <div class="card-body">
                <h5 class="card-title">Appareil</h5>
                <p class="card-text">Tout ce qui concerne les appareils (TV, Tablette, Ordi, machine à laver, secher, jouets...)</p>
                <a href="#" class="btn btn-success">Entrer</a>
            </div>
        </div>
</div>
{% endblock %}
