{% extends "base.html" %}
{% block menu %}
    {% block navbar %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block documentation %} 
    <div class="container">
        <h1 class="text-white my-2 mx-4">Documentation</h1>
        <div class="row m-3">
            <div id="card_maison" class="card m-2"style="width:18rem;">
                <div class="card-body mt-n2">     
                    <div class="card-title">
                        <i class="fa fa-home" style="font-size:80px;"></i>
                        <span class="h1 ml-3 align align-center">Maison</span>
                    </div>
                    <p class="card-text">Tout ce qui concerne la maison (alarme, stores, chauffage, eau, gaz,électricité...)</p>
                </div>
            </div>
            <div id="card_jardin" class="card m-2"style="width:18rem;">
                <div class="card-body mt-n2">     
                    <div class="card-title">
                        <i class="fa fa-sun-o" style="font-size:80px;"></i>
                        <span class="h1 ml-3 align align-center">Jardin</span>
                    </div>
                    <p class="card-text">Tout ce qui concerne la piscine (pompe, filtration, rideau, tuyauterie, traitement eau...)</p>
                </div>
            </div>
            <div id="card_appareil" class="card m-2"style="width:18rem;">
                <div class="card-body mt-n2">     
                    <div class="card-title">
                        <i class="fa fa-bolt" style="font-size:80px;"></i>
                        <span class="h1 ml-3 align align-center">Appareils</span>
                    </div>
                    <p class="card-text">Tout ce qui concerne les appareils (TV, Tablette, Ordi, machine à laver, secher, jouets...)</p>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div id="menu_maison" class="card col-3 m-2 d-none " >
                <div class="card-body">
                    <p class="card-text ">
                        <div class="list-group ">
                            <a href="#card_electricite" class="list-group-item list-group-item-action ">Electricité</a>
                            <a href="#" class="list-group-item list-group-item-action">Eau & Gaz</a>
                            <a href="#" class="list-group-item list-group-item-action">Chauffage</a>
                            <a href="#" class="list-group-item list-group-item-action">Alarme</a>
                            <a href="#" class="list-group-item list-group-item-action">Store</a>
                            <a href="#card_cuisine" class="list-group-item list-group-item-action nav-item">Cuisine</a>  
                        </div>
                    </p>
                </div>
            </div>
            <div id="menu_jardin"class="card col-3 m-2 d-none">
                <div class="card-body">
                    <p class="card-text ">
                        <div class="row m-3">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action ">Piscine</a>
                                <a href="#" class="list-group-item list-group-item-action">Arrosage</a>
                                <a href="#" class="list-group-item list-group-item-action">Matos cabane</a>
                                <a href="#" class="list-group-item list-group-item-action">Cave & garage</a>
                                <a href="#" class="list-group-item list-group-item-action">Store</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div id="menu_appareil"class="card col-3 m-2 d-none">
                <div class="card-body">
                    <p class="card-text ">
                        <div class="row m-3">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action ">TV & Audio</a>
                                <a href="#" class="list-group-item list-group-item-action">Ordinateurs</a>
                                <a href="#" class="list-group-item list-group-item-action">Jeux enfants</a>
                                <a href="#" class="list-group-item list-group-item-action">Beauty</a>
                                <a href="#" class="list-group-item list-group-item-action">electro-ménager</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>   
    </div>
    <script src="{{ url_for('static', filename='scripts/documents.js') }}"></script>
{% endblock %}
