{% extends "base.html" %}
{% block inventaire %}
    <div class="container.fluid m-3">
        <ul class="nav nav-pills mx-3 my-2" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class=" btn btn-success active mr-2" id="pills-cave-tab" data-toggle="pill" href="#pills-cave" role="tab" aria-controls="pills-cave" aria-selected="true">Cave</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success mx-2" id="pills-congel-tab" data-toggle="pill" href="#pills-congel" role="tab" aria-controls="pills-congel" aria-selected="false">Congel</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success ml-2" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">Users</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!--------- Inventaire cave --------->
            <div class="tab-pane fade show active" id="pills-cave" role="tabpanel" aria-labelledby="pills-cave-tab">
                <div class="card mx-3 mt-4">
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Article</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">périmé le:</th>
                                <th scope="col">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elem in db %}  
                                    <tr id="tabl_db_{{ loop.index }}">
                                        <th scope="row">{{ loop.index }}<span id="tab_db_id_{{ loop.index }}" class="invisible">{{ elem.id }}</span></th>
                                        <td id="tab_db_art_{{ loop.index }}">{{ elem.article }}</td>
                                        <td id="tab_db_qua_{{ loop.index }}">{{ elem.quantite }}</td>
                                        <td id="tab_db_per_{{ loop.index }}">{{ elem.peremption }}</td>
                                        <td><button id="trash_{{ loop.index }}" class="btn" onclick="efface(this)"><i class="fa fa-trash-o mr-2  mt-n2" ></i></td>
                                    </tr>
                                    {% if loop.last %}
                                        {% set nb_elem = loop.length %}
                                        <div class="d-flex">
                                            <h5 class="my-2 mt-n1 mr-auto">Cave <spann id="nb_elem" class="invisible">{{ nb_elem }}</spann></h5>
                                            <spann id="db_add" class="btn btn-success rounded-sm m-2 font-weight-bolder ml-auto mt-n2"data-toggle="modal" data-target="#new_article"> + </spann>
                                        </div>
                                    {% endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--------- Inventaire congel --------->
            <div class="tab-pane fade" id="pills-congel" role="tabpanel" aria-labelledby="pills-congel-tab">
                <div class="card mx-3 mt-4" >
                    <div class="card-body">
                        <h5 class="card-title">Congel</h5>
                        <p class="card-text">Be patient... work in progress.</p>    
                    </div>
                </div>
            </div>
            <!--------- Inventaire users --------->
            <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
                <div class="card mx-3 mt-4" >
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text">Be patient... work in progress...</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------- Modal ajout article --------->
    <div class="modal" id="new_article">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Création d'un nouvel article</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="new_art_nom">Article:</label>
                    <input type="text" class="form-control" id="new_art_nom" name="uname" required>
                    <label for="new_art_quant" class="mt-2">Quantité:</label>
                    <input type="text" class="form-control" id="new_art_quant" name="uname">
                    <label for="new_art_quant" class="mt-2">Date de péremption:</label>
                    <input type="text" class="form-control" id="new_art_date" name="uname">
                </div>
                <div class="modal-footer">
                    <button id="art_valide" type="button" class="btn btn-success" data-dismiss="modal">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/inventaire.js') }}"></script>
{% endblock%}