{% extends "base.html" %}
{% block inventaire %}
<div class="container.fluid">
    <div class="row ">
        <div class="card col-sm">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs ">
                    <li class="nav-item">
                        <a class="nav-link {{ [db, 'Cave']|focus_page }}" href="{{ url_for('inventaire', database='Cave') }}">Cave</a>
                    </li>
                    <li class="nav-item">  
                        <a class="nav-link {{ [db, 'Congel']|focus_page }}" href="{{ url_for('inventaire', database='Congel') }}">Congélateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ [db, 'Users']|focus_page }}"  href="{{ url_for('inventaire', database='Users') }}">Users</a>
                    </li>
                </ul> 
            </div>
            <form action='' method='post'>
                <div class="card-body mt-3">
                
                <div class="col-xl-7 mx-3">
                    <table class="table table-borderless table-sm">
                        <thead class="thead">
                            <tr class="row  border rounded-lg">
                                <th class="col-{{ entete[0][1] }}">{{ entete[0][0] }}</th>
                                <th class="col-{{ entete[1][1] }}">{{ entete[1][0] }}</th>
                                <th class="col-{{ entete[2][1] }}">{{ entete[2][0] }}</th>
                                <!--th class="col-{{ entete[3][1] }}">{{ entete[3][0] }}</th-->
                                <th class="col-2 text-center">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for lignes in liste_db %}
                            {% if lignes[0] != modif_db %}
                                <tr class="row">
                                    <td class="col-{{ entete[0][1] }} border-bottom">{{ lignes[1] }}</td>
                                    <td class="col-{{ entete[1][1] }} border-bottom">{{ lignes[2] }}</td>
                                    <td class="col-{{ entete[2][1] }} border-bottom">{{ lignes[3] }}</td>
                                    <!--td class="col-{{ entete[3][1] }} border-bottom">{{ lignes[4] }}</td-->
                                    <td class="col-3 text-center border-bottom">
                                        <button  class='btn' name="supp" value='del_{{ lignes[0] }}' style='background-color:transparent;'> <i class="fa fa-trash-o mr-2  mt-n2" ></i></button>
                                        <button  class='btn' name="modif" value='mod_{{ lignes[0] }}' style='background-color:transparent;'><i class="fa fa-pencil  mt-n2" ></i></button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="col-{{ entete[0][1] }}"><input type="text" value="{{ lignes[1] }}" class="form-control form-control-sm " name="article"></class></td>
                                    <td class="col-{{ entete[1][1] }}">
                                        <div class="form-group">
                                            <select class="custom-select" name="nb">
                                                <option value = 1>1</option>
                                                <option value = 2>2</option>
                                                <option value = 3>3</option>
                                                <option value = 4>4</option>
                                            </select>
                                        </div> 
                                    </td>
                                    <td class="col-{{ entete[2][1] }}"><input type="date" value="{{ lignes[3] }}"class="form-control form-control-sm " name="périmé"></class></td>
                                    <!--td class="col-1"><input type="text" value="{{ lignes[4] }}"class="form-control form-control-sm " name="mail"></class></td-->
                                    <td class="col-3 text-center">
                                        <button class='btn' name="modify" value='mod_no' style='background-color:transparent;'><i class="fa fa fa-close mr-2 fa-2x mt-n2" style='color:red;'></i></button>
                                        <button class='btn' name="modify" value='{{ modif_db }}_mod_yes' style='background-color:transparent;'><i class="fa fa-check fa-2x mt-n2" style='color:green;' ></i></button>
                                    </td>
                                </tr> 
                            {% endif %}
                        {% endfor %} 
                        {% if modif_db == '' %}
                            <tr class="row pt-2 border border-success rounded-lg ">
                                <td class="col-{{ entete[0][1] }} mt-2 "><input type="text" class="form-control form-control-sm " name="article"></class></td>
                                <td class="col-{{ entete[1][1] }}">
                                    <div class="form-group">
                                        <select class="custom-select mt-1" name="nb">
                                            <option value = 1>1</option>
                                            <option value = 2>2</option>
                                            <option value = 3>3</option>
                                            <option value = 4>4</option>
                                            <option value = 5>5</option>
                                        </select>
                                    </div> 
                                </td>
                                <td class="col-{{ entete[2][1] }} mt-2"><input type="date" class="form-control form-control-sm " name="périmé"></class></td>
                                <!--td class="col-{{ entete[3][1] }} mt-2"><input type="text" class="form-control form-control-sm " name="mail"></class></td-->
                                <td class="col-2 text-center mt-2"><button class='btn' name="ajout" value='ajouter' style='background-color:transparent;'><i class="fa fa-plus-square fa-2x mt-n2" style='color:green;'></i></button></td>
                            </tr>
                        {% endif %}   
                        </tbody>
                    </table>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>        

    <!--
    <h2><u> Inventaire du congélateur</u> </h2>
    </br>
    <table class='tableau'>
        <form action='' method='post'>
        <tr>
            <th>article</th><th>quantité</th><th>date péremption</th><th>action</th>
        </tr>
            {% for lignes in congel %}
                <tr> 
                    <td>{{ lignes[1] }}</td><td>{{ lignes[2] }}</td><td>{{ lignes[3] }}</td>
                    <td><button class='inv_bouton' name='mod_inv' type='submit' value='del_{{ lignes[0] }}' /> DEL</td>
                </tr>
            {% endfor%}
        <tr>
            </form>
            <form action='' method='post'>
                <td><input type="text" id='article' name='article' required maxlength="40" size="40"></td>
                <td><input type="text" id='quantite' name='quantite' required maxlength="3" size="10"></td>
                <td><input type="text" id='date' name='date'  maxlength="40" size="20"></td>
                <td><button class='inv_bouton' name='mod_inv' type='submit' value='ajout' /> Ajout article</td>
            </form>
        </tr>   
    </table>
    </br>


    <h2><u> Inventaire des utilisateurs du site</u> </h2>
    <table class='tableau'>
        <tr>
            <th>user</th><th>mdp</th><th>mail</th><th>droits</th>
        </tr>
        {% for lignes in users %}
                <tr> 
                {% for details in lignes %}
                    <td>{{ details }}</td> 
                {% endfor%}
            </tr>
        {% endfor%}    
    </table>
</div>        -->
{% endblock%}

