{% extends "base.html" %}
{% block inventaire %}
    <div class="container">
        <div class="row mx-3 mt-4">
                <a class=" btn btn-success active mr-3 mb-1 col col-xs-12" id="btn_cave" href="/inventaire/cave" >Cave</a>
                <a class=" btn btn-success active mr-3 mb-1 col col-xs-12" id="btn_cave" href="/inventaire/congel" >Congel</a>
                {% if current_user.droits == 'admin' %}
                    <a class=" btn btn-info active mr-3 mb-1 col col-xs-6" id="btn_cave" href="/inventaire/users" >Utilisateurs</a>
                    <a class=" btn btn-info active  mb-1 col col-xs-6" id="btn_cave" href="/inventaire/Messages">Messages</a>
                {% endif %}
        </div>
        {% if  database in ['cave', 'congel'] %}
            <div class="card mx-3 mt-4">
                <div class="card-body">
                    <h4 class="float-left ml-2 pb-2">{{ database|capitalize }}</h4>
                    <i id="add_art" class="fa fa-plus-circle fa-3x text-success mt-n2 float-right" data-toggle="tooltip" title="Nouvel article" onclick="ajoute(this)"></i>
                    <i id="add_art" class="fa fa-file-pdf-o fa-lg mt-2 mr-4 float-right" data-toggle="tooltip" title="PDF" onclick="pdf(this)"></i>
                    <i id="add_art" class="fa fa-envelope-o fa-lg mt-2 mr-4 float-right" data-toggle="tooltip" title="envoi liste par e-mail"></i>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Article</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">périmé le:</th>
                            <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in db %}  
                                <tr id="tabl_db_{{ loop.index }}">
                                    <th scope="row">{{ loop.index }}<span id="tab_db_id_{{ loop.index }}" class="invisible">{{ elem.id }}</span></th>
                                    <td id="tab_db_art_{{ loop.index }}">{{ elem.article }}</td>
                                    <td id="tab_db_qua_{{ loop.index }}">{{ elem.quantite }}</td>
                                    <td id="tab_db_per_{{ loop.index }}">{{ elem.peremption }}</td>
                                    <td><button id="trash_{{ loop.index }}" class="btn" onclick="modifie(this)"><i class="fa fa-pencil mt-n2" ></i>
                                        <button id="trash_{{ loop.index }}" class="btn" onclick="copie(this)"><i class="fa fa-files-o mt-n2" ></i>
                                        <button id="trash_{{ loop.index }}" class="btn" onclick="efface(this)"><i class="fa fa-trash-o mt-n2" ></i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% elif database == 'users' %}
                    <div class="card mx-3 mt-4">
                        <div class="card-body">
                            <h4 class="float-left ml-2 pb-2">{{ database|capitalize }}</h4>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Droits</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for elem in db %}  
                                        <tr id="tabl_db_{{ loop.index }}">
                                            <th scope="row">{{ loop.index }}<span id="tab_db_id_{{ loop.index }}" class="invisible">{{ elem.id }}</span></th>
                                            <td id="tab_db_art_{{ loop.index }}">{{ elem.nom }}</td>
                                            <td id="tab_db_qua_{{ loop.index }}">{{ elem.mail }}</td>
                                            <td id="tab_db_per_{{ loop.index }}">{{ elem.droits }}</td>
                                            <td><button id="trash_{{ loop.index }}" class="btn" onclick="efface(this)"><i class="fa fa-trash-o mr-2  mt-n2" ></i></td>
                                        </tr>
                                        {% if loop.last %}
                                            {% set nb_elem = loop.length %}
                                            <div class="d-flex">
                                                <h5 class="my-2 mt-n1 mr-auto"> <spann id="nb_elem" class="invisible">{{ nb_elem }}</spann></h5>
                                            </div>
                                        {% endif%}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% elif database == 'Messages' %}
                    <div class="card mx-3 mt-4">
                        <div class="card-body">
                            <h4 class="float-left ml-2 pb-2">{{ database|capitalize }}</h4>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for elem in db|reverse %}  
                                        <tr id="tabl_db_{{ loop.index }}">
                                            <th scope="row">{{ loop.index }}<span id="tab_db_id_{{ loop.index }}" class="invisible">{{ elem.id }}</span></th>
                                            <td id="tab_db_qua_{{ loop.index }}">{{ elem.timestamp|date_trunk }}</td>
                                            <td id="tab_db_art_{{ loop.index }}">{{ users[elem.user_id-1].nom }}</td>
                                            <td id="tab_db_per_{{ loop.index }}">{{ elem.message }}</td>
                                            <td><button id="trash_{{ loop.index }}" class="btn" onclick="efface(this)"><i class="fa fa-trash-o mr-2  mt-n2" ></i></td>
                                        </tr>
                                        {% if loop.last %}
                                            {% set nb_elem = loop.length %}
                                            <div class="d-flex">
                                                <h5 class="my-2 mt-n1 mr-auto"><spann id="nb_elem" class="invisible">{{ nb_elem }}</spann></h5>
                                            </div>
                                        {% endif%}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>  
                {% endif %}
        
    <!--------- Modal ajout article --------->
    <div class="modal" id="new_article">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Création d'un nouvel article</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="new_art_nom">Article:</label>
                    <input type="text" class="form-control" id="new_art_nom" name="uname" required>
                    <label for="new_art_quant" class="mt-2">Quantité:</label>
                    <input type="text" class="form-control" id="new_art_quant" name="uname">
                    <label for="new_art_date" class="mt-2">Date de péremption:</label>
                    <input type="text" class="form-control" id="new_art_date" name="uname">
                </div>
                <div class="modal-footer">
                    <button id="art_valide" type="button" class="btn btn-success" data-dismiss="modal">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/inventaire.js') }}"></script>
{% endblock%}