{% extends "base.html" %}
{% block menu %}
    {% block navbar %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block mainpage %}  
    <div class="container-fluid">
        <div class="row ml-3 mt-3 pt-2">
            <!------- chat windows ---------->
            <div class=" mx-2 px-2 "style="width:320px;">
                {% if current_user.is_authenticated %}                         
                    <div class="toast m-1" data-autohide="false"> 
                        <div class="toast-header">
                            <strong class="mr-auto text-dark">Messages</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                            <small class="text-muted"></small>
                        </div>
                        {% for messages in posts|reverse %} 
                            {% if loop.index <= 5 %}
                                <div class="toast-body">
                                    {% if current_user != users[(messages.user_id-1)] %}
                                        <div class="alert alert-warning ">
                                    {% else %}
                                        <div class="alert alert-success "> 
                                    {% endif %}  
                                        {{ messages.message }}</br> </br>
                                        {% if current_user != users[(messages.user_id-1)] %}
                                            <small class="m-n2 float-left ">{{ users[(messages.user_id-1)].nom }}</small>
                                        {% endif %}
                                        <small class="m-n2 float-right">{{ messages.timestamp|date_trunk }}</small>
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <i id="add_mess" class="fa fa-plus-circle fa-3x text-success m-2 float-right" data-toggle="modal" data-target="#new_message"></i>
                    </div>
                {% endif %}
            </div>
            <!------- main infos ---------->       
            <div class="col-8 mx-2 px-2  text-white">
                {% if current_user.is_authenticated %}
                    <h1>Salut {{ current_user.nom }} !!!</h1></br>
                    <meta id='u_id' data-name="{{ current_user.nom }}" data-id="{{ current_user.id }}">
                {% else %}
                    <h1>Bonjour visiteur inconnu...</h1></br>
                {% endif %}
                <p><small>-Les archives permettent de voir les photos/vidéo de famille et les documents administratifs</small></p>
                <p><small>-L'inventaire te dis ce qu'il y a dans la réserve et le congel de la cave</small></p>
                <p><small>-La documentation regroupe tout les modes d'emploi/marches à suivre pour l'entretien de la maison</small></p>
                <p><small>-Raspberry est la connection vers le Rpi de la cave.</small></p>
                <p>Pour pouvoir avoir accès à ces pages, il faut s'identifier! (bouton en haut à droite).</p>
            </div>
        </div>
    </div> 
     <!--------- Modal ajout article --------->
     <div class="modal" id="new_message">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <label for="new_art_nom">Nouveau message (max: 140 char.)</label>
                    <input type="text" class="form-control" id="message_txt" name="uname" required>
                </div>
                <div class="modal-footer">
                    <button id="send_mess" type="button" class="btn btn-success" data-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %} 
