{% extends "base.html" %}

{% block raspberry %}
    <div class="container">
        <h1 class="text-secondary my-3"> page Raspberry pi</h1>
        <div class="row">
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4">
                <div class="card m-2">
                    <div class="card-header">
                        <spann class="h5">Homeberry 01 </span>
                            {% if pi1_data[2] == 'connecté' %}
                                <span class="badge badge-success ml-3">connecté</span>
                            {% else %}
                                <span class="badge badge-danger ml-3">non connecté</span>
                            {% endif %}
                    </div>
                    <div class="card-body ">
                        <div class="card-text">
                            <spann class="text-left">IP: {{ pi1_conf[0] }}</spann> 
                            <spann class="text-right">Port: {{ pi1_conf[1] }}</spann>
                            <p class="card-text">Temp: {{ pi1_data[0] }}</p>
                            <p class="card-text">Hum: {{ pi1_data[1] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4">
                <div class="card m-2">
                    <div class="card-header">
                        <spann class="h5">Homeberry 02 </span>
                            {% if pi2_data[2] == 'connecté' %}
                                <span class="badge badge-success ml-3">connecté</span>
                            {% else %}
                                <span class="badge badge-danger ml-3">non connecté</span>
                            {% endif %}
                    </div>
                    <div class="card-body ">
                            <p class="card-text">IP: {{ pi2_conf[0] }}</p>
                            <p class="card-text">Port: {{ pi2_conf[1] }}</p>
                            <p class="card-text">Temp: {{ pi2_data[0] }}</p>
                            <p class="card-text">Hum: {{ pi2_data[1] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% endblock%}
