{% extends "base.html" %}
{% block menu %}
    {% block navbar %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block user %}
    <div class="container">
        {% if view == 'messages' %}
            <h1 class='m-2 p-2 text-white'>Messages de {{ user.nom }}:</h1> 
            {% for messages in posts %}             
                <div class='card m-2 p-2'style="width:500px;">
            {{ messages.timestamp|date_trunk }} : {{ messages.message }}
                </div>
            {% endfor %}    
        {% else %}
        <h1 class='m-2 p-2 text-white'>Mes Paramètres :</h1> 
            <div class="card mx-3 mt-4"style="width:500px;">
                <div class="card-body">
                    <h3 class="card-title"> {{ user.nom }}</h3>
                    <table class="table">
                        <tr>
                            <td>Nom:</td>
                            <td>{{ user.nom }}</td>
                        </tr>
                        <tr>
                            <td>Mail:</td>
                            <td>{{ user.mail }}</td>
                        </tr>
                        <tr>
                            <td>Changer mdp</td><td></td>
                        </tr>
                        <tr>
                            <td class='font-weight-bold'>Paramètres messagerie:</td><td></td>
                        </tr>
                        <tr>
                            <td>Afficher ses messages sur la page d'accueil:</td><td>oui</td>
                        </tr>
                   </table>
                </div> 
            </div>      
        {% endif %}
        
        
    </div>

                
{% endblock %}